{{#partial "content"}}
    <section>
        <ul class="nav justify-content-end pt-4">
            <li class="nav-item">
                <a class="nav-link active" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wildlife/new">TRACK ANIMAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all-animals">ALL ANIMALS</a>
            </li>
            <li class="nav-item pr-4">
                <a class="nav-link" href="/sightings">ALL SIGHTINGS</a>
            </li>
        </ul>
        <h1 class="text-center" style="color:white;">WILDLIFE TRACKER! KEEP ANIMALS SAFE.</h1>
        <div class="text-center "><br><br>
            <a href="/wildlife/new">
                <button class="btn btn-outline-success">ADD AN ANIMAL</button>
            </a>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}